
fish/fish_history
.vim/view/**

# omit all files of .vimperator or only useless ones (if there are useful ones?)
.vimperator/info/default/history-command
.vimperator/info/default/history-search
.vimperator/info/default/local-marks

# these cannot be committed (b/c they are repos themselves?)
.vim/bundle/vim-abolish/
.vim/bundle/vim-hoogle/
.vim/bundle/vim-multiple-cursors/
.vim/bundle/vim-tbone/
.vim/bundle/vim-fish/
.vim/bundle/Vim-R-plugin/
.vim/bundle/agda-vim/
.vim/bundle/scratch.vim/
.vim/bundle/vim-devicons/
.vim/bundle/vim-textobj-latex/
.vim/bundle/vim-textobj-user/

*.swp

blather/blather.history

.mutt/cache/
